.App {
	text-align: center;
}

.App-header {
	background-color: #222;
	height: 100px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 2em;
	text-align: center;
}

ul {
	list-style-type: none;
	display: inline-flex;
}
li {
	margin-right: 20px;
	color: white;
}
li:hover {
	transform: scale(1.01);
}
.link {
	position: relative;
	text-decoration: none;
	color: white;
	top: -100px;
}
.totalCost {
	position: relative;
	top: -100px;
	right: -650px;
	color: white;
}
.cartIcon {
	position: relative;
	top: -50px;
	right: -600px;
	color: blue;
	width: 50px;
}
