table,
th,
td {
	border: 1px solid;
}

div.row {
	display: flex;
	width: 50%;
}

h1,
.customerInfo {
	text-align: left;
}

.deliveryType,
.checkBtn,
.clearBtn,
.backBtn {
	text-align: right;
}

ul.customer-info {
	display: flex;
	flex-direction: column;
	text-align: left;
}

li {
	color: black;
}
